@charset "utf-8";
/* base.css */


.sort {
    text-align: center;
}

#keyword_filter, #author_filter {
    margin-left: 15px;
    margin-top: 5px;
}

.sort-label {
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

.sort-label, select, input {
    float: left;
}
                
#papers {
    margin-top: 60px;
    clear: both;
}

.small {
    color: #909090;
}

.smaller {
    color: #505050;
}

ul, ol, dl { 
	padding-left:15px;
	padding-right:15px;
	margin: 0px;
}


h2 {
	text-align:center;
	margin-bottom: 0px;
}

h3, h5, h6 {
	padding-left: 15px;
	padding-right: 15px;	
}

h1{
	padding-left:15px;
	padding-right:15px;
	font-size:18px;
}

h4 {
	margin-top: 5px;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
}

.paper {
	margin-top: 10px;
	border-top: 10px solid #B5CBEF;
}

.abstract {
    padding: 20px 20px;
    margin: 20px 20px;
    background: rgb(218,228,222);
    border-radius: 20px;
}

.abstract h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.abstract p {
    margin-top: 5px;
    margin-bottom: 5px;
}
