{% extends "scriptr/base.html" %}

{% block onready %}
    $("a.show").next().hide();
    $("a.show").click(function(){
        if ($(this).text() == "show source code") {
            $(this).text("hide source code");
            $(this).next().show("medium");
        } else {
            $(this).text("show source code");
            $(this).next().hide("medium");
        }
        return false;
    });
{% endblock %}

{% block content %}
    <h1>{{ script.name }}</h1>
    <form method="post" action="">
        {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
            <dd>{{ field }}</dd>
            {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
            {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
        {% endfor %}
        <input type="submit" value="Go" />
    </form>
    <a class="show" href="">show source code</a>
    <pre>{{ script.code }}</pre>
    {% for example in examples %}
        <h2>{{ example.name }}</h2>
        <pre style="float: left">{{ example.text }}</pre>
        <img style="border: 1px solid black; margin: 5px;" src="{{ example.image }}" />
    {% endfor %}
{% endblock %}
