{% extends "papers/base.html" %}

{% block content %}
    Sort by:
    <a href="/papers/by_title/">title</a>
    {% if order %}
        {% ifequal order "asc" %}
            <a href="/papers/by_date/desc/">date</a>
        {% endifequal %}
        {% ifequal order "desc" %}
            <a href="/papers/by_date/asc/">date</a>
        {% endifequal %}
    {% else %}
        <a href="/papers/by_date/desc/">date</a>
    {% endif %}    
    {% for paper in papers %}
    <h1 id="{{ paper.title }}">{{ paper.title }} // <small>{{ paper.date }}</small></h1>
        <ul>
        {% for person in paper.authors.all %}
            {% if person.website %}
                <a href="{{ person.website }}">
                    {{ person }}
                </a>{% if not forloop.last %},{% endif %}
            {% else %}
            {% if person.email %}
                <a href="mailto:{{ person.email }}">
                    {{ person }}
                </a>{% if not forloop.last %},{% endif %}
            {% else %}
                {{ person }}{% if not forloop.last %},{% endif %}
            {% endif %}
            {% endif %}
        {% endfor %}
        <h2>Abstract</h2>
        <p>{{ paper.abstract }}</p>
        {% ifequal paper.publish "true" %}
            <h2>Download</h2>
            <ul>
                {% if paper.paper %}
                <li><a href="{{ paper.paper.url }}">{{ paper }}</a></li>
                {% endif %}
                {% if paper.data %}
                <li><a href="{{ paper.data.url }}">{{ paper }} - Data</a></li>
                {% endif %}
                {% if paper.code %}
                <li><a href="{{ paper.code.url }}">{{ paper }} - Source Code</a></li>
                {% endif %}
            </ul>
        {% endifequal %}
        </ul>
    {% endfor %}
{% endblock %}
